UPSTASH_REDIS_REST_URL="https://busy-macaque-78789.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAATPFAAIgcDI0MzQ4MGRlZjA1Y2I0Njg4ODY2ZWI0M2MyNDBmODJmYQ"
JWT_SECRET="challengegrind_secret_key_2026"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="YOUR_CLOUDFLARE_SITE_KEY"
TURNSTILE_SECRET_KEY="YOUR_CLOUDFLARE_SECRET_KEY"
